// FOOTER
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: $orange;
    & ul{
        list-style: none;
        text-align: center;
        margin-bottom: 20px;
        & li{
            display: inline-block;
            font-family: $text-style;
            font-size: $footer;
            margin: 30px 10px 0px 10px;
            text-align: center;
            color: $purple-dark;
            & a{
                color: $purple-dark;
                border: 2px solid $orange;
                padding: 10px;
                border-radius: 10px;
                &:hover{
                    color: $purple-light;
                    text-decoration: none;
                    border: 2px solid $purple-light;
                    background-color: $purple;
                }
            }
        }
    }
}
