// HERO
#hero{
    height: 800px;
    background-image: url("../img/bear-hero-2.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    & #title-accueil{
        text-align: center;
        font-family: $title-style;
        padding-top: 10%;
        & h1{
            font-size: $accueil-h1;
            line-height: 2em;
        }
        & p{
            font-size: $accueil-soustitre;
        }
    }
}

@include responsive(phone){
    #hero{
        & #title-accueil{
            & h1{
                font-size: 3em;
            }
            & p{
                font-size: 1.5em;
            }
        }
    }
}

@include responsive(tab-land){
    #hero{
        background-position: 25% 75%;
        & #title-accueil{
            padding-top: 30%;
        }
    }
}

