/* HERO
* Les styles css pour le hero de la page d'accueil 
*/
#hero{
    height: 800px;
    background-image: url("../img/bear-hero-2.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    & #title-accueil{
        text-align: center;
        font-family: $title-style;
        padding-top: 10%;
        & h1{
            font-size: $accueil-h1;
            line-height: 2em;
        }
        & p{
            font-size: $accueil-soustitre;
        }
    }
}

/*
* RESPONSIVE
* Style lorsque l'on passe sur un format téléphone
*/
@include responsive(sm){
    #hero{
        & #title-accueil{
            & h1{
                font-size: 3em;
            }
            & p{
                font-size: 1.5em;
            }
        }
    }
}

/*
* Style lorsque l'on passe sur un format tablette
*/
@include responsive(md){
    #hero{
        background-position: 25% 75%;
        & #title-accueil{
            padding-top: 30%;
        }
    }
}

