/* NAVIGATION MENU
* Les styles css pour le menu de navigation présent sur l'ensemble des pages du site Orinoco-Oriteddies
*/
#menu{
    z-index: 20;
    background-color: $purple-light;
    & .navbar-brand{
        margin-left: 15px;
    }
    & .nav-item a{
        text-align: center;
        margin: 0 30px 5px 50px;
        color: $purple-dark;
        font-weight: 500;
        letter-spacing: 0.1em;
        font-family: $text-style;
        font-size: $text-little;
        border-bottom: 2px solid transparent;
        &:hover{
            color: $orange;
            border-bottom: 2px solid $orange;
        }
    }
    & #current a{
        color: $orange;
        border: 2px solid $orange;
        border-radius: 10px;
    }
}
