#menu{
    background-color: $purple-light;
    & .navbar-brand{
        margin-left: 15px;
    }
    & .nav-item a{
        text-align: center;
        margin-left: 50px;
        margin-right: 30px;
        color: $purple-dark;
        font-weight: 500;
        letter-spacing: 0.1em;
        font-family: $text-style;
        font-size: $menu-item-size;
        border-bottom: 2px solid transparent;
        &:hover{
            color: $orange;
            border-bottom: 2px solid $orange;
        }
    }
    & #current a{
        color: $orange;
        border: 2px solid $orange;
        border-radius: 10px;
    }
    // & .navbar-nav{
    //     position: absolute;
    //     right: 0;
    //     & .nav-item a{
    //         margin-left: 50px;
    //         margin-right: 30px;
    //         color: $purple-dark;
    //         font-weight: 500;
    //         letter-spacing: 0.1em;
    //         font-family: $text-style;
    //         font-size: $menu-item-size;
    //         border-bottom: 2px solid transparent;
    //         &:hover{
    //             color: $orange;
    //             border-bottom: 2px solid $orange;
    //         }
    //     }
    //     & #current a{
    //         color: $orange;
    //         border: 2px solid $orange;
    //         border-radius: 10px;
    //     }
    // }
}

#menu1{
    background-color: $purple-light;
}