/* GLOBAL CSS
* Les styles css globaux qui peuvent être présent sur l'ensemble du site Orinoco-Oriteddies
*/
html{
    position: relative;
    min-height: 100%;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.hide{
    display: none;
}
.red{
    color: red;
}

/*
* Style d'erreur pour le formulaire de contact
* Style appelé grâce au script JavaScript lorsqu'une erreur d'entrée de données est détecté
*/
.erreurInput{
    border: 2px solid red !important;
}