/*
* LES MIXINS
* Tous les bouts de code qui apparaissent à plusieurs reprises dans le code css
*/
// Les boutons
@mixin buttonPageProduit{
    background: $purple-light;
    border: 2px solid $purple-dark;
    margin-top: 2%;
    font-family: $text-style;
    letter-spacing: 3px;
    color: $purple-dark;
    transition: transform 0.2s ease-in-out;
    &:hover{
        background: $purple-dark;
        color: white;
        transform: translateY(5px);
    }
}

// Les conteneurs
@mixin rowBasket{
    margin: 5% auto;
    border: 2px solid $orange;
    border-radius: 10px;
}