/*
* LES VARIABLES
* Ensembles des variables appelées dans les styles css
*/

// Couleurs
$black: #000;
$purple-light: #f3ebf3;
$purple-dark: #613d6a;
$orange: #cf8252;
$purple-grey: #8c7c8c;
$purple: #b49eb0;

/*
* Tailles de polices d'écritures
*/
$accueil-h1: 4em;
$accueil-soustitre: 2em;
$form-title: 2.2em;
$product-title: 1.5em; //$product-title et price-label
$text-big: 1.8em; //total-commande
$text: 1.4em; //accueil-text, product-name, text-productCard, text-confirm
$text-little: 1.3em; //$text-little, product-text, $text-little
$normal: 1em; //little-text et footer
