// COLORS
$black: #000;
$purple-light: #f3ebf3;
$purple-dark: #613d6a;
$orange: #cf8252;
$purple-grey: #8c7c8c;
$purple: #b49eb0;

// SIZES TEXT
// Taille de font pour les éléments de la page d'accueil
$menu-item-size: 1.3em;
$accueil-h1: 4em;
$accueil-soustitre: 2em;
$accueil-text: 1.3em;
$footer: 1em;
//Taille de font pour les éléments de la page produit
$product-h2: 1.5em;
$product-name: 1.3em;
$product-text: 1.15em;