#confirmCommand{
    margin: 180px 0;
    & h1{
        font-family: $text-style;
        text-align: center;
    }
}
#resumeCommand{
    width: 60%;
    padding: 2%;
    font-family: $text-style;
    font-size: $text-confirm;
    text-align: center;
    @include rowBasket;
    border-color: $purple-dark;
    background: $purple-light;
    & .btn-home{
        font-weight: bold;
        @include buttonPageProduit;
        margin: 2% auto;
    }
}

@include responsive(sm){
    #confirmCommand{
        margin: 150px 0;
    }
    #resumeCommand{
        width: 90%;
        font-size: $product-h2;
        margin-bottom: 200px;
    }
}