/* PAGE DETAIL PRODUIT 
* Les styles css pour la page de détail du produit sur lequel l'utilisateur souhaite avoir plus d'informations
*/
#productDetailPage{
    padding-top: 15vh;
    & #productCard{
        padding: 3% 0%;
        text-align: center;
        border: 2px solid $purple-dark;
        border-radius: 10px;
        box-shadow: 1px 1px 15px $purple-dark;
        & h1{
            font-family: $title-style;
            margin-bottom: 5%;
        }
        & .productImagePageDetail{
            height: 400px;
        }
        & p, label{
            font-family: $text-style;
            font-size: $text;
            margin: 2% 2%;
            & span{
                font-size: $product-title;
            }
        }
        & select{
            font-family: $text-style;   
        }
        & .btn{
            @include buttonPageProduit; // insertion de la mixin 'buttonPageProduit' pour éviter la duplication d'un même code
            &:hover i{
                color: white;
            }
            & i{
                color: $purple-dark;
                margin-right: 5px;
            }
        }
    }
}

/*
* RESPONSIVE
* Les styles lorsque l'on se trouve sur un format portable
*/
@include responsive(sm){
    #productDetailPage{
        & #productCard{
            & p, label{
                padding: 0 3%;
            }
            & .productImagePageDetail{
                height: 250px;
            }
        }
    }
}


/*
* FENETRE POPUP
* Les styles de la fenêtre qui apparait lorsque l'on ajoute un produit au panier
*/
#popupAdd{
    z-index: 99;
    height: 100%;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    background-color: rgba(207, 130, 82, 0.98);
    box-shadow: 1px 1px 15px $purple-dark;
    padding: 5%;
    font-family: $text-style;
    font-size: $text;
    color: white;
    & p{
        margin-bottom: 5%;
        & i{
            color: white;
            margin-right: 15px;
        }
    }
    & .btn{
        @include buttonPageProduit; // insertion de la mixin 'buttonPageProduit' pour éviter la duplication d'un même code
        margin: 2% 2%;
        & a{
            color: $purple-dark;
        }
        &:hover a{
            color: white;
            text-decoration: none;
        }
    }
}


