#basketRecap{
    
    & h1{
        font-family: $title-style;
        text-align: center;
        margin-bottom: 5%;
    }
    & .row{
        @include rowBasket;
        & .image{
            max-height: 500px;
            border-right: 2px solid $orange;
            border-radius: 10px 0 0 10px;
        }
        & .detail{
            padding: 2%;
            & h2{
                font-family: $title-style;
                margin-bottom: 3%;
            }
            & p{
                font-family: $text-style;
                font-size: $product-text;
                margin-top: 2%;
            }
            & .quantityDiv{
                width: 15%;
                text-align: center;
                & p{
                   margin: 0;
                   color: $orange;
                }
                & i{
                    font-size: 1.2em;
                    color: $orange;
                }
            }
        }   
    }
    & .removeIcone{
        font-family: $text-style;
        cursor: pointer;
    }
    & .containNoBasket{
        background: $purple;
        border: 2px solid $purple-dark;
        border-radius: 10px;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        padding: 5%;
        font-family: $text-style;
        & p{
            font-size: $text-productCard;
        }
        & button{
            font-size: $text-productCard;
            background: $purple-light;
            border: 2px solid $purple-dark;
            margin-top: 3%;
            & a{
                color: $purple-dark;
            }
            &:hover{
                background: $purple-dark;
                & a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}
#totalBasket{
    @include rowBasket;
    width: 50%;
    margin: 4% auto 0 auto;
    padding: 2%;
    font-family: $text-style;
    text-align: center;
    font-size: $total-commande;
    & h2{
        margin-bottom: 2%;
    }
    & p{
        font-weight: bold;
    }
    & .btn{
        @include buttonPageProduit;
        border-color: $orange;
        color: $orange;
        font-weight: bold;
        &:hover{
            background: $orange;
        }
    }
}
