/* PAGE PANIER
* Les styles css pour la page du panier et du formulaire de contact pour passer commande
* La liste des produits présents dans le panier
*/
#basketRecap{
    margin: 180px 0 80px 0;
    & h1{
        font-family: $title-style;
        text-align: center;
        margin-bottom: 70px;
    }
    & .row{
        @include rowBasket; // insertion de la mixin 'rowBasket' pour éviter la duplication d'un même code
        max-width: 70%;
        & .image{
            max-height: 500px;
            border-right: 2px solid $orange;
            border-radius: 10px 0 0 10px;
        }
        & .detail{
            padding: 2%;
            & h2{
                font-family: $title-style;
                margin-bottom: 3%;
            }
            & p{
                font-family: $text-style;
                font-size: $text-little;
                margin-top: 2%;
            }
            & .quantityDiv{
                max-width: 100px;
                text-align: center;
                & p{
                   margin: 0;
                   color: $orange;
                }
                & i{
                    font-size: 1.2em;
                    color: $orange;
                }
            }
        }   
    }
    & .removeIcone{
        font-family: $text-style;
        cursor: pointer;
    }
    & .containNoBasket{
        background: $purple;
        border: 2px solid $purple-dark;
        border-radius: 10px;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        padding: 5%;
        font-family: $text-style;
        & p{
            font-size: $text;
        }
        & .btn{
            font-size: $text;
            background: $purple-light;
            border: 2px solid $purple-dark;
            margin-top: 3%;
            color: $purple-dark;
            &:hover{
                background: $purple-dark;
                color: white;
                text-decoration: none;
            }
        }
    }
}
/*
* La zone qui récapitule le total du panier et invite à passer commande
*/
#totalBasket{
    @include rowBasket; // insertion de la mixin 'rowBasket' pour éviter la duplication d'un même code
    width: 50%;
    margin: 4% auto 0 auto;
    padding: 2%;
    font-family: $text-style;
    text-align: center;
    font-size: $text-big;
    & h2{
        margin-bottom: 2%;
    }
    & p{
        font-weight: bold;
    }
    & .btn{
        @include buttonPageProduit; // insertion de la mixin 'buttonPageProduit' pour éviter la duplication d'un même code
        border-color: $orange;
        color: $orange;
        font-weight: bold;
        &:hover{
            background: $orange;
        }
    }
}
/*
* Le formulaire de contact pour passer commande
*/
#formCommandSection{
    width: 50%; 
    @include rowBasket; // insertion de la mixin 'rowBasket' pour éviter la duplication d'un même code
    padding: 3% 5%;
    font-family: $text-style;
    & h2{
        text-align: center;
        font-size: $form-title;
        margin-bottom: 8%;
    }
    & .btn{
        margin: 0% auto 5% auto;
        @include buttonPageProduit; // insertion de la mixin 'buttonPageProduit' pour éviter la duplication d'un même code
        border-color: $orange;
        color: $orange;
        font-weight: bold;
        &:hover{
            background: $orange;
        }
    }
    & label{
        font-size: $text-little;
    }
    & input{
        border: 2px solid $orange;
    }
    & p{
        font-size: $normal;
        font-style: italic;
    }
    & span{
        color: red;
        font-weight: bold;
    }
}

/*
* RESPONSIVE
* Les styles lorsque l'on se trouve sur un format portable
*/
@include responsive(sm){
    #basketRecap{
        & .row{
            max-width: 90%;
            & .image{
                height: 250px;
                border-bottom: 2px solid $orange;
                border-right: 0px;
                border-radius: 10px 10px 0 0;
            }
            & .detail{
                text-align: center;
                & .quantityDiv{
                    max-width: 100%;
                    text-align: center;
                }
            }
        }
        & .containNoBasket{
            width: 90%;
            margin-bottom: 200px;
        }
    }
    #totalBasket{
        width: 90%;
        padding: 10%;
        & .btn{
            margin: 3% 0%;
            min-width: 100%;
        }
    }
    
}

/*
* Les styles lorsque l'on se trouve sur un format tablette
*/
@include responsive(md){
    #formCommandSection{
        width: 90%;
        & .btn{
            width: 100%;
        }
    }
}

/*
* Les styles lorsque l'on se trouve sur un format petit écran (desktop <1200px)
*/
@include responsive(lg){
    #totalBasket{
        & .btn{
            min-width: 80%;
            margin: 3% auto;
        }
    }
}